// ***********************************************************
// Flex
// ***********************************************************

.flex {display: flex !important};
.fdr {display: flex; flex-direction: row};
.fdc {display: flex; flex-direction: column};

.jcc {display: flex; justify-content: center};
.jcfs {display: flex; justify-content: flex-start};
.jcfe {display: flex; justify-content: flex-end};
.jcsa {display: flex; justify-content: space-around};
.jcsb {display: flex; justify-content: space-between};
.jcse {display: flex; justify-content: space-evenly};

.aic {display: flex; align-items: center};
.aifs {display: flex; align-items: flex-start};
.aife {display: flex; align-items: flex-end};

.asc {align-self: center};
.asfs {align-self: flex-start};
.asfe {align-self: flex-end};

.fww {display: flex; flex-wrap: wrap};


.fr {
    float: right
}

.fl {
    float: left
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}


// ***********************************************************
// TEXT
// ***********************************************************

.tac { text-align: center; }

// ***********************************************************
// BLOC
// ***********************************************************

.block {display: block !important};