@import "mixins.scss";
@import "global.scss";
@import "colores.scss";
@import "tamanos.scss";
@import "alineaciones.scss";
@import "responsive.scss";
@import 'antd/dist/antd.css';

.actionButton {
    // background-color:#91d5ff;
    margin-bottom: 2px;
    border-radius: 7px;
}

.actionButton:hover{
    color: #91d5ff
}

code { 
    display: block;
    // white-space: pre;
    font-family: Consolas, Courier, monospace;
}

.menuMargin {
    margin: 1.5vh !important;
}
.menuPadding {
    padding: 1.5vh !important;
}

.ganaSelectDropdown{
    width: auto !important;
}