
@for $i from 1 through 100 {
	.vw#{$i} {width: #{$i}#{'vw'}};
	.vh#{$i} {height: #{$i}#{'vh'}};
}
@for $i from 1 through 100 {
	.w#{$i} {width: #{$i}#{'%'}};
	.h#{$i} {height: #{$i}#{'%'}};
}
@for $i from 1 through 100 {
	.w#{$i}em {width: #{$i}#{'em'}};
	.h#{$i}em {height: #{$i}#{'em'}};
}


// ***********************************************************
// Padding
// ***********************************************************

$em0: 0rem;
$em1: 0.25rem;
$em2: 0.5rem;
$em3: 1rem;
$em4: 1.5rem;
$em5: 2rem;

.p0 { padding: $em0;}
.pt0 { padding-top: $em0;}
.pr0 { padding-right: $em0;}
.pb0 { padding-bottom: $em0;}
.pl0 { padding-left: $em0;}
.pV0 { padding-top: $em0; padding-bottom: $em0;}
.pH0 { padding-left: $em0; padding-right: $em0;}

.p1 { padding: $em1;}
.pt1 { padding-top: $em1;}
.pr1 { padding-right: $em1;}
.pb1 { padding-bottom: $em1;}
.pl1 { padding-left: $em1;}
.pV1 { padding-top: $em1; padding-bottom: $em1;}
.pH1 { padding-left: $em1; padding-right: $em1;}


.p2 { padding: $em2;}
.pr2 { padding-right: $em2;}
.pt2 { padding-top: $em2;}
.pb2 { padding-bottom: $em2;}
.pl2 { padding-left: $em2;}
.pV2 { padding-top: $em2; padding-bottom: $em2;}
.pH2 { padding-left: $em2; padding-right: $em2;}


.p3 { padding: $em3;}
.pt3 { padding-top: $em3;}
.pr3 { padding-right: $em3;}
.pb3 { padding-bottom: $em3;}
.pl3 { padding-left: $em3;}
.pV3 { padding-top: $em3; padding-bottom: $em3;}
.pH3 { padding-left: $em3; padding-right: $em3;}

.p4 { padding: $em4;}
.pr4 { padding-right: $em4;}
.pt4 { padding-top: $em4;}
.pb4 { padding-bottom: $em4;}
.pl4 { padding-left: $em4;}
.pV4 { padding-top: $em4; padding-bottom: $em4;}
.pH4 { padding-left: $em4; padding-right: $em4;}

.p5 { padding: $em5;}
.pt5 { padding-top: $em5;}
.pr5 { padding-right: $em5;}
.pb5 { padding-bottom: $em5;}
.pl5 { padding-left: $em5;}
.pV5 { padding-top: $em5; padding-bottom: $em5;}
.pH5 { padding-left: $em5; padding-right: $em5;}


// ***********************************************************
// Margin
// ***********************************************************

.m0 { margin: $em0;}
.mt0 { margin-top: $em0;}
.mr0 { margin-right: $em0;}
.mb0 { margin-bottom: $em0;}
.ml0 { margin-left: $em0;}

.m1 { margin: $em1;}
.mt1 { margin-top: $em1;}
.mr1 { margin-right: $em1;}
.mb1 { margin-bottom: $em1;}
.ml1 { margin-left: $em1;}

.m2 { margin: $em2;}
.mt2 { margin-top: $em2;}
.mr2 { margin-right: $em2;}
.mb2 { margin-bottom: $em2;}
.ml2 { margin-left: $em2;}

.m3 { margin: $em3;}
.mt3 { margin-top: $em3;}
.mr3 { margin-right: $em3;}
.mb3 { margin-bottom: $em3;}
.ml3 { margin-left: $em3;}

.m4 { margin: $em4;}
.mt4 { margin-top: $em4;}
.mr4 { margin-right: $em4;}
.mb4 { margin-bottom: $em4;}
.ml4 { margin-left: $em4;}

.m5 { margin: $em5;}
.mt5 { margin-top: $em5;}
.mr5 { margin-right: $em5;}
.mb5 { margin-bottom: $em5;}
.ml5 { margin-left: $em5;}


// ***********************************************************
// Text size
// ***********************************************************

$fs1: 60%;
$fs2: calc( #{$fs1} * 1.10);
$fs3: calc( #{$fs1} * 1.30);
$fs4: calc( #{$fs1} * 1.60);
$fs5: calc( #{$fs1} * 2.00);
$fs6: calc( #{$fs1} * 2.50);
$fs7: calc( #{$fs1} * 3);

.fs1 { font-size: $fs1 !important}
.fs2 { font-size: $fs2 !important}
.fs3 { font-size: $fs3 !important}
.fs4 { font-size: $fs4 !important}
.fs5 { font-size: $fs5 !important}
.fs6 { font-size: $fs6 !important}
.fs7 { font-size: $fs7 !important}


// ***********************************************************
// Add border 
// ***********************************************************

.bl1 { border-left: 1px solid black; }
.bl2 { border-left: 2px solid black; }
.bl3 { border-left: 3px solid black; }
.bl4 { border-left: 4px solid black; }
.bl5 { border-left: 5px solid black; }

.br1 { border-right: 1px solid black; }
.br2 { border-right: 2px solid black; }
.br3 { border-right: 3px solid black; }
.br4 { border-right: 4px solid black; }
.br5 { border-right: 5px solid black; }

.bt1 { border-top: 1px solid black; }
.bt2 { border-top: 2px solid black; }
.bt3 { border-top: 3px solid black; }
.bt4 { border-top: 4px solid black; }
.bt5 { border-top: 5px solid black; }

.bb1 { border-bottom: 1px solid black; }
.bb2 { border-bottom: 2px solid black; }
.bb3 { border-bottom: 3px solid black; }
.bb4 { border-bottom: 4px solid black; }
.bb5 { border-bottom: 5px solid black; }


// ***********************************************************
// Border radius
// ***********************************************************

.bRad1 { border-radius: 1px; }
.bRad2 { border-radius: 2px; }
.bRad3 { border-radius: 3px; }
.bRad4 { border-radius: 4px; }
.bRad5 { border-radius: 5px; }

.bRad1 { border-radius: 1px; }
.bRad2 { border-radius: 2px; }
.bRad3 { border-radius: 3px; }
.bRad4 { border-radius: 4px; }
.bRad5 { border-radius: 5px; }

.bRad1 { border-radius: 1px; }
.bRad2 { border-radius: 2px; }
.bRad3 { border-radius: 3px; }
.bRad4 { border-radius: 4px; }
.bRad5 { border-radius: 5px; }

.bRad1 { border-radius: 1px; }
.bRad2 { border-radius: 2px; }
.bRad3 { border-radius: 3px; }
.bRad4 { border-radius: 4px; }
.bRad5 { border-radius: 5px; }
