@import "/src/assets/styles/_font-variables.scss";


html{
    background-image: url('../src/assets/img/19366.jpg');
    width: 100%;
    height: 100%;
    font-family: "basica";
}

.circuloCesta {
    display: inline-block;
    background-color: #c7c7c7;
    color: #000000;
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
    line-height: 20px;
    text-align: center; 
    font-size: 12px;
    margin-left:5px;
  }

  :where(.css-dev-only-do-not-override-1k979oh).ant-card-bordered .ant-card-cover {
    margin-top: 10%;
    margin-inline-start: -1px;
    margin-inline-end: -1px;
    font-family: "basica";
}

.question {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "basica";
}

.answer {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 5px 0;
  font-family: "basica";
}

.about-us-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: "basica";
}

:where(.css-dev-only-do-not-override-1k979oh).ant-col-6 {
  --ant-display: block;
  display: block;
  display: var(--ant-display);
  flex: 0 0 25%;
  max-width: 100%;
  font-family: "basica";
}

:where(.css-dev-only-do-not-override-1k979oh).ant-card-bordered .ant-card-cover {
  margin-top: 10%;
  margin-inline-start: -1px;
  margin-inline-end: -1px;
  display: flex;
  justify-content: center;
  font-family: "basica";
}

.tarjeta2 .ant-card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "basica";
}

.tarjeta2 .ant-card-body::after {
  content: none;
  font-family: "basica";
}

.tarjeta2 .ant-card-body::before {
  content: none;
}

.row-abierto {
  background-color: #c2e0c6;
}

.row-cerrado {
  background-color: #f88f88;
}

.row-en_progreso {
  background-color: #f7a233;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-layout {
  font-family: "basica";
}

:where(.css-dev-only-do-not-override-1k979oh).ant-space {
  display: flex;
  justify-content: space-evenly;
}