@import "/src/assets/styles/_font-variables.scss";


html {
  width: 100%;
  height: 100%;
  font-family: "basica";
}

.circuloCesta {
  display: inline-block;
  background-color: #c7c7c7;
  color: #000000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin-left: 5px;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-card-bordered .ant-card-cover {
  margin-top: 10%;
  margin-inline-start: -1px;
  margin-inline-end: -1px;
  font-family: "basica";
}

.question {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "basica";
}

.answer {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 5px 0;
  font-family: "basica";
}

.about-us-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: "basica";
}

:where(.css-dev-only-do-not-override-1k979oh).ant-col-6 {
  --ant-display: block;
  display: block;
  display: var(--ant-display);
  flex: 0 0 25%;
  max-width: 100%;
  font-family: "basica";
}

:where(.css-dev-only-do-not-override-1k979oh).ant-card-bordered .ant-card-cover {
  margin-top: 10%;
  margin-inline-start: -1px;
  margin-inline-end: -1px;
  display: flex;
  justify-content: center;
  font-family: "basica";
}

.tarjeta2 .ant-card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "basica";
}

.tarjeta2 .ant-card-body::after {
  content: none;
  font-family: "basica";
}

.tarjeta2 .ant-card-body::before {
  content: none;
}

.row-abierto {
  background-color: #c2e0c6;
}

.row-cerrado {
  background-color: #f88f88;
}

.row-en_progreso {
  background-color: #f7a233;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-layout {
  font-family: "basica";
}

:where(.css-dev-only-do-not-override-1k979oh).ant-space {
  display: flex;
  justify-content: space-evenly;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-input-group-wrapper {
  width: 25%;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-btn-primary {
  color: #fff;
  background: #87a7d3;
  border-radius: 3px
}

:where(.css-dev-only-do-not-override-1k979oh).ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
  border-start-end-radius: 1px;
  border-end-end-radius: 1px;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-input-lg {
  border-radius: 1px
}

.ant-btn-primary.ant-btn-background-ghost {
  transition: 0.2s;
}

.ant-btn-primary.ant-btn-background-ghost:hover {
  color: #4d79af;
  border-color: #4d79af;
  transform: scale(1.1);
}

/* .ant-layout-header{
  border:1px solid black
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 40%;
  display: flex;
  align-content: center;
  align-items: center;
  margin-left: 25%;
}

.botonesHeader {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.botonesHeader button {
  margin-left: 15px;
}

.menuPerfil {
  display: flex;
  align-items: center;
}

.tablasAdmin {
  overflow-x: auto;
}

.buscador {
  width: 25%;
}

.modalCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 300px;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 999;
}


/* Media Querys */

@media (max-width: 768px) {

  :where(.css-dev-only-do-not-override-1k979oh).ant-layout-header {

    padding: 0 0px;

  }

  :where(.css-dev-only-do-not-override-1k979oh).ant-layout {
    background-color: white;
  }
  :where(.css-dev-only-do-not-override-1k979oh).ant-col-6 {
   min-width: 100%;
}

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    display: block;
    margin-top: 40px;
  }

  .botonesHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    z-index: 999;

  }

  .menuPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-end;
    margin-top: 10px
  }

  .tablasAdmin {
    overflow-x: auto;
    display: block;
    width: 100%;
    padding: 0;
    font-size: 10px;
  }

  .tablaPedidos {
    overflow-x: auto;
    display: block;
    width: 100%;
    padding: 0;
    font-size: 10px;
  }

  :where(.css-dev-only-do-not-override-1k979oh).ant-layout-footer {
    font-size: 10px;
    padding: 0;
  }

  :where(.css-dev-only-do-not-override-1k979oh).ant-row {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    min-width: 0;
    justify-content: space-evenly;
    align-items: center;
  }

  .localizacion {
    letter-spacing: 0;
  }

  .tablasPerfil {
    display: flex;
    flex-direction: column;
  }

  :where(.css-dev-only-do-not-override-1k979oh).ant-table-wrapper .ant-table {
    font-size: 10px;
  }

  .tarjetasPerfil {
    flex-direction: column;
    align-items: center;

  }

  .tarjeta1 {
    margin-bottom: 5%;
    margin-top: 10%;
  }

  .modalCarrito {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .modalCarritoBoton {
    margin-top: 5%;
    justify-content: center;
    display: flex;
  }

  .botonesCarrito {
    margin-left: 1%;
  }

  .buscador {
    width: 100%;
    margin-top: 5%;
  }

  .ant-tooltip {
    display: none;
  }

  .anticon-eye {
    display: none !important;
  }
  
}