@font-face {
    font-family: "basica";
    src: url("../Fuentes/basica.otf");
}

@font-face {
    font-family: "negrita";
    src: url("../Fuentes/negrita.otf");
}

@font-face {
    font-family: "negritax2";
    src: url("../Fuentes/negritax2.otf");
}